.emailInput-resetPw-page .email-input{
    align-items: center;
    justify-content: space-around;
    margin: 8rem auto;
    margin-left: 30%;
    max-width: 500px;
    max-height: 300px;
    height: 18rem;
    background: #FFF;
    border-radius: 10px;
}

.reset-pw{
    padding-top:0.5rem;
    padding-left: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0C721F;
    margin-bottom: 2rem;
    position:relative;
    .title{
        padding-top:1rem;
    }
}


.emailLabel{
    font-size: 0.85rem;
    font-weight: lighter;
    color: #AAAEAB;
    padding-right: 20px;
}
.email-input-text{
    display: table-caption;
    direction: column;
    padding-left: 17%;
    #emailResetPw{
        width: 20rem;
        height: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        background-color: #EFEFEF;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    
        &:focus {
            border-color: none;
            outline: none;
        }
    }
}



.send-button{
    width: 8rem;
    height: 2.5rem;
    background-color: #0C721F;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 38%;
    margin-right: 1rem;
    cursor: pointer;
    &:hover{
        background-color: #0C721F;
        opacity: 0.8;
    }
}