
.search-result {
    padding: 10px 20px;
    // margin: 0.5rem 0.5rem;
    font-size: 0.9rem;
    // width: 32rem;
    text-align: left;
    // border: none
}
  
.search-result:hover {
    // color: #DF4D4D;
    background-color: #EFEFEF;
    border-radius: 10px;
    cursor: pointer;
  }
  