// .background{
//     // max-width: 1440px;
//     width: 100%;
//     height: 100%;
//     overflow-x: auto;
//     background-image: url("./background.png");
//     background-color: black;
//     background-repeat: no-repeat;
//     background-size: cover;
//     justify-content: space-between;
// }

.auth-form-container, .login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth-form-container{
    padding-left: 45rem;
    max-width: 25em;
    margin: 100px 10rem auto auto;
    border: 1px, solid white;
    border-radius: 10px;
}
h2{
    font-size: 2rem;
    color: #0C721F;
}
.login-form{
    justify-content: space-around;
    // padding-right: 30rem;
    // padding-bottom: 15rem;
    width: 120%;
    // height:200%;
    height: 90%;
    border-radius: 20px;
    align-items: center;
    background-image: linear-gradient(180deg, #FCF9C6, #E3EDC2, #D4E1A1, #4F825B);
    margin-bottom: 10rem;
    // margin-right: 20rem;
}

.mailInput,
.passInput {
    display: flex;
    align-items: center;
    /* Add margin to separate each input field */
    height:100%;
    justify-content: space-between;
    margin: 0.5rem 0;
    position:relative;
    
}

.mailInput input,
.passInput input{
    width: 90%; /* Make the input fields take up the full width of the container */
    height: 40px; /* Adjust the height of the input boxes to your preference */
    padding: 0.8rem; /* Adjust padding for better spacing inside the input boxes */
    border-radius: 20px; /* Increase border-radius to make the input boxes rounder */
    margin-left: 1rem; 
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    color: #7EAA92;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    }

#email,
#password{
    margin-left: 0.75rem;
    color: #557A46;
}

.mailInput::before
{
    content: "\f0e0"; /* Replace '\f0e0' with the Unicode for your Font Awesome icon (check Font Awesome documentation) */
    font-family: "Font Awesome 5 Free"; /* Set the Font Awesome font family */
    font: var(--fa-font-solid);
    position: absolute;
    font-size: 1.5em;
    left: 45px; /* Adjust the left position to control the horizontal placement */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Center the icon vertically */
    height: 20px; /* Adjust the height of the icon */
    width: 20px; /* Adjust the width of the icon */
    z-index: 1; /* Ensure the icon is above the input text */
    align-items: center;
    color: #0C721F;
}

.passInput::before{
    content: "\f023"; /* Replace '\f0e0' with the Unicode for your Font Awesome icon (check Font Awesome documentation) */
    font: var(--fa-font-solid);
    font-family: "Font Awesome 5 Free"; /* Set the Font Awesome font family */
    position: absolute;
    font-size: 1.5em;
    left: 45px; /* Adjust the left position to control the horizontal placement */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Center the icon vertically */
    height: 20px; /* Adjust the height of the icon */
    width: 20px; /* Adjust the width of the icon */
    z-index: 1; /* Ensure the icon is above the input text */
    align-items: center;
    color: #0C721F;
}

.submitBut,
.Register{
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

.submitBut{
    border: none;
    background-color: #0C721F;
    padding: 10px;
    width:40%;
    border-radius: 15px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.55em;
    text-align: center;
}

.Register{
    background: none;
    color:white;
    border: none;
    text-decoration: none;
}

.Register:hover{
    text-decoration: underline;
}

.Forgetpw{
    font-size: 0.85em;
    color: #957B7B;
    margin-right: 10rem;
    cursor:pointer;
    text-decoration: none;
}
.Forgetpw:hover{
    text-decoration: underline;
}
