.changepw-form-container{
    margin-top: 5rem;
    margin-left: 9rem;
    max-width: 300px;
    background-color: none;
    align-items: center;
    max-height: 100vh;
    justify-content: center;
    p{
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1rem;
        margin-bottom: 3rem;
        color: #0C721F;
    }
    .changepw-form{
        display:flex;
        flex-direction:column;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        max-width: 7rem;
        color:#0C721F;
        &:focus {
            border-color: none;
            outline: none;
          }

        label{
            font-size: 0.8rem;
            font-weight: lighter;
            width: 17rem;
            margin-bottom: 0.2em;
            color: #000;
        }
    }

    #currentpassword, #newpassword, #confirmedpassword{
        margin-top: 0.5em;
        margin-bottom: 1.2em;
        border-radius: 7px;
        border: 1px solid #9C9C9C;
        background: #FFF;
        padding: 0.5em;
        width: 15rem;
        color:#0C721F;
        &:focus {
            border-color: none;
            outline: none;
          }
    }

    #confirmedpassword{
        margin-bottom: 2em;
    }
    .changepw{
        margin-bottom: 1.2em;
        border-radius: 7px;
        border: 1px solid #9C9C9C;
        background: #0C721F;
        padding: 0.5em;
        width: 6rem;
        font-size: 1rem;
        align-items: center;
        color:#FFF;
        cursor: pointer;
        &:focus {
            background-color: #0C721F;
            color: #fff;
            transform: scale(1.05);
          }
    }
}