.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  position: relative;
}

.update-profile{
  display: flex;
  width: 100vw;
  position: relative;
  left: 12em;
  top: 3em;
}

.form{
  max-width: 30em;
  height: 35em;
  /* background: black; */
  margin: 3em;
  text-align: start;
  display: inline-flex;
  flex-direction: column;
}

.hr{
  height: 2px;
  width: calc(100vwv - 18em);
  background: #D8D8D8;
  margin-left: 15em;
  margin-top: -5em;
}

.show-attraction{
  max-width: 30em;
  height: 35em;
  display: block;
}

.show-attraction p{
  color: #0E4D90;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
