.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  position: relative;
}

.main{
  display: flex;
  width: 100vw;
  position: relative;
  left: 12em;
  top: 3em;
}

.Form{
  max-width: 30em;
  height: 35em;
  /* background: black; */
  margin: 3em;
  text-align: start;
  display: inline-flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
