html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  /* cursor */
}

body{
  font-family: 'RocknRoll One';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  overflow-x: hidden;
=======
  background: #F8F6F4;
}

p{
  font-family: 'RocknRoll One';
>>>>>>> 65a54289b64b69b36f7f9608fdad89e6a93459d2
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<<<<<<< HEAD
*{
  font-family: 'RocknRoll One', sans-serif;
}
=======
>>>>>>> 65a54289b64b69b36f7f9608fdad89e6a93459d2
