.header-admin{
    background-color: black;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.69);
    width: 100vw;
    height: 3em; 
    display: flex; 
    align-items: center;
    z-index: 1;
    position: fixed;

    .SE-logoo{
        height: 2.8em;
        margin: 0 auto 0 2em;
    }
}

.header-admin *{
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 1em 0 0.9em;
    font-size: 0.85em;
}

.header-admin a:hover{
    text-decoration: underline;
}