.login-page {
    text-align: center;
    // display: flex;
    // max-height: 100vh;
    // align-items: center;
    // justify-content: center;
    color: white;
    /* background-image: linear-gradient(79deg, #d4d431, #ce70ce 48%, #ebf6); */
    background-image: url("./background.png");
    width:100vw;
    height:fit-content;
    position: absolute;
    top: 0;
  }