.login-page {
    text-align: center;
    color: white;
    background-image: url("./background.png");
    background-size:contain;
    width:100vw;
    height:fit-content;
    position: absolute;
    top: 0;
  }