.changePw-page{
    // text-align: center;
    flex:1;
    color: white;

    width:100vw;
    height:fit-content;
    position: absolute;
    top: 0;
  }

.headerGuest{
  z-index: 1000;
}

.twoColumn{
  display: flex;
  ChangePasswordForm{
    padding-right: 80%;
  }
}
