.card {
  background-color: white;
  width: 25%;
  height: fit-content;
  border: 0;
  border-radius: 10px;
  padding: 0.7rem;
}
.card-title {
  font-size: 1.2rem;
  color: #0C721F;
  margin: 0;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  color: #8C8C8C;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0.1rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border: 2px solid #8C8C8C;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #8C8C8C;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0C721F;
  border-color: #0C721F;
}