#tourguide-page {
    background-color: lightgray;
}
#guide-header {
    background-color: wheat;
    height: 30rem;
    /* width: 80%;
    padding: 0 10%; */
}
#guide-main-page {
    display: flex;
    flex-direction: row;
}
#left-container {
    /* background-color: aquamarine; */
    width: 35%;
    height: 100vh;
}
#right-container {
    /* background-color: yellow; */
    width: 65%;
    height: 100vh;
}