.attraction-frame{
    width: 45em;
    height: fit-content;
    margin: 1em auto 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.picture{
    position: relative;
    width: 18em;
    height: fit-content;
}

.picture img{
    width: 18em;
    height: 18em;
    background: white;
    border-radius: 0.8em;
    object-fit: cover;
    margin-top: 2em;
}

.picture .picture-bg {
    width: 18em;
    height: 18em;
    border-radius: 0.8em;
    background: rgba(14, 77, 144,0.5);
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.picture .button-edit, .picture .button-delete{
    visibility: hidden;
    // z-index: 1;
}

.picture:hover .picture-bg, .picture:hover .button-delete, .picture:hover .button-edit{
    visibility: visible;
}

.attraction-frame .attraction{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5em;
    margin-top: 2em;
    
}

.attraction-frame label{
    text-align: left;
    font-size: 0.8em;
    color:#0E4D90;
}

.attraction-frame input:not(input[type=file]), .attraction-frame textarea{
    min-width: 28em;
    height: 2.3em;
    margin-bottom: 1em;
    background: white;
    border: 0.1em solid #DEDEDE;
    border-radius: 0.8em;  
    color: #7E94AB;
    font-family: 'RocknRoll One';
    padding: 0.5em;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
}

.attraction-frame textarea{
    height: 18em;
    resize: none;
}

.show-attraction .attraction-frame ~ .error-input{
    margin: 0.5em auto;
    font-size: 1em;
}

.show-attraction .attraction-frame .error-input p::before{
    content: '\f06a';
    font-family: "FontAwesome";
    margin: 0 0.5em;
}

// .show-attraction .attraction-frame .error-input.hidden{
//     display: none;
// }

.attraction-frame input:focus-within, 
.attraction-frame textarea:focus-within{
    outline: 2px solid #0E4D90;
    outline-offset: -2px;
}

.attraction-frame .button-upload{
    margin: 2.5em auto 1.5em 1em;

}

.attraction-frame .button-save{
    margin: 2.5em 1em 1.5em auto;
}