.tourInfo {
    .admin-path{
        align-items: center;
        color: #0E4D90;
        display: flex;
        margin-bottom: 20px;
        .admin-path-name{
          margin-left: 10px;
          font-weight: 700;
          font-size: 17px;
          text-align: center;
        }
    }
    .profile-form{
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        padding: 1px 30px 20px 30px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
        .custom-form-group{
          width: 100%;
        }
        .custom-form-control{
          width: 100%;
        }
    }
    .profile-header{
        color: #0E4D90 !important;
        height: 40px;
        border-radius: 3px 3px 0 0;
    }
    .custom-form{
        color: #7E94AB;
    }
    .custom-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }
    .custom-form-group.custom-column label {
        display: block;
        margin-bottom: 5px;
    }
    .custom-form-group.custom-column.left-group {
        flex-basis: calc(50% - 5px); /* Độ dài của input email */
        margin-right: 35px;
    }
    .custom-form-group.custom-column.right-group {
        flex-basis: calc(50% - 5px); /* Độ dài của input phone */
    }
    .custom-form-group.custom-column.left-group {
        flex-basis: calc(50% - 5px); /* Độ dài của input email */
        margin-right: 35px;
    }
    .custom-form-group.custom-column.right-group {
        flex-basis: calc(50% - 5px); /* Độ dài của input phone */
    }
    .custom-form-control {
        width: 100%;
        padding: 8px 8px 8px 0;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        color: #0E4D90;
        font-weight: 550;
        &:focus{
          outline: none;
        }
    }
    .booking-listing{
      margin-top: 30px;
      .booking-list{
        background-color: #fff;
        border-radius: 10px;
        padding: 0px 5px 0px 5px;
        box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        p{
          color: #0E4D90;
          font-weight: 600;
          font-size: 18px;
          padding-left: 15px;
        }
        table {
          border-collapse: collapse;
          width: 100%;
          margin-bottom: 10px;
        }
        .table{
          thead {
            display: table-header-group;
            vertical-align: middle;
            th{
              vertical-align: middle;
              font-weight: 600;
              padding: 10px 15px;
              text-align: center;
              color: #0E4D90;
            }
          }
          tr {
            display: table-row;
            vertical-align: middle;
          }
          td, th{
            padding: 10px 5px;
            color: #0E4D90;
            vertical-align: middle;
            text-align: center;
            button{
              width: 30px;
              height: 30px;
              border-radius: 15px;
              margin-right: 10px;
              background-color: #0E4D90;
              color: white;
              border: 1px solid #0E4D90;
              &:hover {
                background-color: #175fa6;
                border: 1px solid #175fa6;
                color: white;
                transition: 0.5s;
              }
            }
          }
          .booking-table td{
            color: #7E94AB;
          }
          .booking-table tr:last-child td, 
          .booking-table tr:last-child th{
            border-bottom: none;
          }
        }
    }
    }
    #btnBack, #btnPhotoGallery {
      font-size: 15px;
      font-weight: 550;
      padding: 3px 10px 5px 10px;
      border-radius: 8px;
      margin-top: 25px;
      margin-bottom: 20px;
      background-color: #0E4D90;
      color: white;
      border: 1px solid #0E4D90;
      &:hover {
        background-color: #175fa6;
        border: 1px solid #175fa6;
        color: white;
        transition: 0.5s;
      }
    }
    .tour-image {
      max-height: 550px;
      width: 100%;
      //padding: 15px 15px;
      margin-bottom: 30px;
      img {
          width: 100%;
          max-height: 100%;
          object-fit: contain;
          background-color: #fff;
          border-radius: 5px;
          padding: 10px 10px 10px 10px;
          box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
      }
    }
    .tour-images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 5px;
    }
  
    .tour-column {
        width: calc(33.33% - 10px); 
    }
  }