.error-input{
    width: fit-content;
    height: fit-content;
    background-color: #FFD2D8;
    color: #F71F39;
    margin-left: 9.3em;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

.error-input p::before{
    content: '\f06a';
    font-family: "FontAwesome";
    margin: 0 0.5em;
}

.error-input p{
    font-size: 0.6em;
    margin: 0.25em 1em 0.25em 0.25em
}

.error-input.hidden{
    display: none;
}