#signup-background{
    min-width: 700px;
    overflow-x: auto;
    background-image: url("./background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}