.headerGuest{
    z-index: 1000;
}
#my-tourguide-page {
    flex:1;
    color: white;

    width: 100vw;
    height: fit-content;
    position: relative;
    top: 0;
}   
#my-tourguide-page-container {
    display: flex;
    flex-direction: row;
}
#my-tourguide-container {
    margin-top: 7rem;
    margin-left: 8rem;
    
    height: fit-content;
    width: fit-content;
    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: #0C721F;
        text-align: left;
        margin-bottom: 3rem;
    }
}

.my-tourguide-card-container {
    width: 52rem;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    margin-bottom: 2rem;

    .upper-card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 15rem;
        padding: 0;
        border-radius: 1rem 1rem 0 0;
        background-color: #E5F2CA;
        .left-card-container {
            width: 15rem;
            height: inherit;
            padding: 0;
            margin: 0;
            background-color: green;
            border-radius: 1rem 0 0 0;
        }
        .right-card-container {
            position: relative;
            width: 30rem;
            height: inherit;
            padding: 0;
            margin: 0;
            > button{
                position: absolute;
                top: 1rem;
                left: 85%;
                background-color: #0C721F;
                width: 10rem;
                height: fit-content;
                border-radius: 0.5rem;
                border: none;
                color: white;
                font-size: 1.2rem;
                padding: 0.8rem;
                // align-items: center;
                font-family: inherit;
                cursor: pointer;
            }
            
            > button:active {
                transform: translateY(2px);
            }
        }
        .guide-ava {
            border-radius: 50%;
            background-color: thistle;
            height: 60%;
            width: 60%;
            border: 0.5rem solid white;
            margin: auto;
            margin-top: 15%;
            /* margin-bottom: 1%; */
            > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .guide-name {
            font-size: 1.4rem;
            margin: 0;
            color: black;
            margin: 1rem auto 0 1rem;
        }
        .guide-rating {
            font-size: 1.2rem;
            margin: 0;
            margin: 0.3rem auto 0 0.5rem;
            display: flex;
            flex-direction: row;
            a {
                color: #8C8C8C;
                margin-left: 0.8rem;
            }
        }  
        .guide-info-cost-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-left: 1rem;
            padding: 0;
        }
        .guide-info-container {
            width: 60%;
            height: fit-content;
            margin-top: 2rem;
        }
        .guide-info {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.8rem;
            > i {
                font-size: 1.3rem;
                color: green;
                margin-right: 1rem;
                width: 2rem;
                text-align: center;
            }
            > p {
                font-size: 1rem;
                color: #8C8C8C;
                margin: 0;
            }
        }
    
        .guide-cost-container {
            display: flex;
            flex-direction: row;
            width: 40%;
            margin-top: 6.7rem;
            /* margin-bottom: 1rem; */
            .cost-title {
                color: #8C8C8C;
                font-size: 0.8rem;
            }
            .cost{
                color: black;
                font-size: 1rem;
            }
            .cost-icon {
                color: green;
                font-size: 2rem;
                margin-top: 0.3rem;
                width: 3.2rem;
                text-align: center;
                text-decoration: bold;
            }
        }
    }
    .lower-card {
        background-color: lightgray;
        width: 100%;
        height: fit-content;
        border-radius: 0 0 1rem 1rem;
        .fillin-components {
            height: fit-content;
            /* padding: 1rem; */
            display: flex;
            flex-direction: row;
            width: 97%;

            .info-part, .info-not-part {
                width: 50%;
                height: fit-content;
                color: black;
                font-size: 1.2rem;
                margin-bottom: 0.6rem;
                a {
                    margin-left: 1rem;
                    color: green;
                    width: max-content;
                }
                .checkbox-gender{
                    margin-top: 0.6rem;
                    accent-color: black;
                    font-size: 0.9rem;
                    
                    label{
                        margin-right: 3rem;
                        font-size: 1rem;
                    }
            
                    input{
                        margin-right: 1rem;
                        transform: scale(1.6);
                    }
                }
                margin: 1rem 3%;
            }
            .info-not-part{
                width: 100%;
            }
            .info-part > input,
            .info-not-part > input {
                width: 100%;
                height: 2rem;
                border-radius: 0.5rem;
                border: 1px solid #979797;
                padding-left: 1rem;
                font-family: 'RocknRoll One', sans-serif;
                margin-top: 0.2rem;
                background-color: white;
                color: #8C8C8C;
                font-size: 1rem;
            }
        }
        
        .show-total {
            width: fit-content;
            height: fit-content;
            text-align: right;
            margin-left: auto;
            margin-right: 2rem;
            color: black;
            font-size: 1.2rem;;
            > a {
                margin-left: 0.5rem;
                color: green;
                font-size: 1.5rem;
            }
        }
        .date-status-container {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            font-size: 1rem;
            width: 90%;
            margin-top: 1rem;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 1rem;
            .date {
                width: 100%;
                color: #8C8C8C;
            }
            .status {
                width: 100%;
                color: green;
                text-align: right;
            }
        }
        
    }
}

