#MyTours {
    position: relative;

    .container {
        display: flex;
        flex-direction: row;
        .mytour-content {
            max-height: 50rem;
            width: 52rem;
            margin-left: 4rem;
            margin-top: 1rem;
            align-items: flex-start;
            padding-left: 1.3rem;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 1.7rem;
            left: 17rem;

            .mytour-header {
                h1 {
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: #0C721F;
                    padding: 0;
                    padding-top: 1rem;
                    margin-bottom: 0.8rem;
                }
            }

            .tour_one {
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                width: 52rem;
                height: fit-content;



                img {
                    width: 35%;
                    border-radius: 10px 0 0 0;
                    object-fit: cover;
                }


                #tour-info {
                    border-radius: 0 10px 0 0;
                    display: flex;
                    width: 65%;
                    background-color: #E5F2CA;
                    flex-direction: column;
                    height: fit-content;
                    align-items: flex-start;
                    padding: 1rem;
                    padding-left: 1.5rem;
                    position: relative;

                    #tour-name {
                        display: flex;
                        flex-direction: row;

                        align-self: start;

                        h2 {
                            margin: 0;
                            padding: 0;
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: #0C721F;
                            display: flex;
                            direction: row;
                        }

                        button {
                            position: absolute;
                            left: 75%;
                            background-color: #0C721F;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            padding: 0.5rem 1rem;
                            font-size: 1.2rem;
                            font-weight: 400;
                            cursor: pointer;

                            &:hover {
                                background-color: #0C721F;
                                color: white;
                            }
                        }
                    }

                    #tour-locate,
                    #tour-company,
                    #rating-star {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 1rem;
                        height: 2.3rem;
                        color: #9C9C9C;

                        i {
                            color: #0C721F;
                            font-size: 1.15rem;

                        }

                        .fa-star {
                            color: #E7B10A;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }

                    .subcategory {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 0.5rem;

                        #tour_subinfo {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 1rem;
                            gap: 0.3rem;
                            margin-right: 3rem;
                            padding-top: 2rem;
                            color: #9C9C9C;
                            justify-content: space-between;

                            i {
                                color: #0C721F;
                                font-size: 2rem;
                            }

                            p {
                                margin: 0;
                            }

                            .sub_title {
                                font-size: 0.9rem;
                            }

                            .sub_val {
                                color: black;
                            }
                        }
                    }
                }
            }

            #tour_two {
                height: fit-content;
                width: 100%;
                background-color: #ECECEC;
                border-radius: 0 0 10px 10px;
                padding-top: 1rem;
                box-shadow: #979797;
                #info_one {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    gap: 5rem;
                    padding-left: 1rem;

                    input {
                        width: 29.5rem;
                        height: 2rem;
                        border-radius: 5px;
                        border: 1px solid #979797;
                        margin-bottom: 1rem;
                        padding-left: 0.5rem;
                        color: #9C9C9C;
                    }

                    #info_name {
                        p {
                            margin: 0;
                            font-size: 0.8rem;
                            margin-bottom: 0.3rem;
                        }
                    }
                }

                #info_two {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    gap: 9rem;
                    padding-left: 1rem;

                    input {
                        width: 10rem;
                        height: 2rem;
                        border-radius: 5px;
                        border: 1px solid #979797;
                        margin-bottom: 0.7rem;
                        padding-left: 0.5rem;
                        color: #0C721F;
                        color: #9C9C9C;
                    }

                    #info_startdate,
                    #info_enddate {
                        p {
                            margin: 0;
                            font-size: 0.8rem;
                            margin-bottom: 0.3rem;
                        }
                    }
                }

                #info_three {
                    display: flex;
                    flex-direction: row;
                    margin-top: 0.3rem;
                    padding-left: 1rem;
                    gap: 8.5rem;

                    p {
                        margin: 0;
                        margin-top: 0.3rem;
                        font-size: 0.8rem;
                        margin-bottom: 0.3rem;
                    }

                    #infoticket {
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;

                        input {
                            width: 2rem;
                            height: 2rem;
                            justify-content: space-around;
                            border-radius: 5px;
                            border: 1px solid #979797;
                            margin-bottom: 0.7rem;
                            padding-left: 0.5rem;
                            color: #0C721F;
                            color: #9C9C9C;
                        }
                    }

                    #info_total {
                        display: flex;
                        flex-direction: row;
                        gap: 2rem;

                        #totalpay {
                            align-items: center;
                            color: #0C721F;
                            font-size: larger;
                            font-weight: 500;
                        }
                    }
                }

                #info_four {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    p {
                        font-size: 0.8rem;
                        color: #979797;
                    }

                    #tour_status {
                        color: #0C721F;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }
                }
            }

        }

    }

}