.avatar-frame{
    width: 18em;
    height: 30em;
    display: inline-block;
    margin-left: 3em;
}

.avatar-frame .picture img {
    width: 16em;
    height: 16em;
}

.avatar-frame .picture .picture-bg {
    width: 16em;
    height: 16em;
    margin-left: 1em;
}

.verified, .verified .fas {
    margin: 0.4em 0.8em;
    font-size: 1rem;
    text-align: center;
    background: #0C721F;
    color: white;
    border-radius: 1em;
}

.verified{
    width: 18em;
    margin: 0.6em auto;
}

.verified .fas{
    margin-right: 1em;
    margin-left: 0;
}
