.booking-company{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.booking-company .main-booking{
    height: fit-content;
    width: calc(100vw - 12em);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    

    // > a .button-upload{
    //     justify-self: flex-start;
    // }
    .tour-booking{
        align-self: center;
    }

    .tourist-booking{
        margin: 1em auto 1em;
        padding: 0.1em 0;
    }

    .tourist-info{
        justify-content: flex-start;
        width: fit-content
    }

    .input-field,
    .check-box{
        margin-left: 2em;
    }

    .booking-info > div:nth-of-type(5) {
        width: 50%;
    }

    .booking-info > div:nth-of-type(7) {
        width: 100%;
    }
  }
