// page
.tour-company {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.main-managetour{
    width: calc(100vw - 12em);
    margin-left: auto;
    height: fit-content;
    position: relative;
    left: 14em;
    top: 3em;
}

.main-managetour > p{
    color:#7E94AB;
    opacity: 0.7;
    text-align: center;
    font-size: 1.1em;
}

.main-managetour .welcome{
    opacity: 1;
    margin-top: 7em;
    margin-bottom: -0.5em;
    font-size: 1.8em;
}

.main-managetour.ver2{
    display: flex;
    justify-content: flex-start;
    // flex-direction: column;
    width: calc(100vw - 12em);
    margin-top: 0.5em;
    flex-wrap: wrap;
}

.main-managetour .create-tour{
    width: 9em;
    height: 13.5em;
    background-color: white;
    margin: 0.6em 1em;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    color: #0E4D90;
    justify-content: center;
    cursor: pointer;
}

.create-tour p{
    font-size: 0.8em;
}

.create-tour .fa-solid{
    font-size: 3em;
}

.main-managetour .tour{
    width: 9em;
    height: 13.5em;
    background-color: white;
    margin: 0.6em 1em ;
    border-radius: 0.8em;  
    text-align: start;
    cursor: pointer;
    position: relative;
}

.main-managetour .tour img{
    width: 9em;
    height: 7em;
    object-fit: cover;
    border-radius: 0.8em 0.8em 0em 0em;
}

.main-managetour .tour p{
    font-size: 0.57em;  
    color: #0E4D90;
    margin-left: 0.7em;
    margin-top: -0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12em;
}

.main-managetour .tour p:first-of-type{
    width: 12em;
    font-size: 0.7em;  
    color: #0C721F;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-left: 0.7em;
}

.main-managetour .tour .num-tourist, 
.main-managetour .tour .duration{
    color: black
}

.tour .des::before{
    content: '\f3c5';
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    margin-right: 0.7em;
    margin-left: 0.2em;
}

.tour .price::before{
    content: '\24';
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    margin-right: 0.8em;
    margin-left: 0.3em;
}

.tour .num-tourist::before{
    content: '\f0c0';
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    margin-right: 0.5em;
}

.tour .duration::before{
    content: '\f017';
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    margin-right: 0.6em;
    margin-left: 0.1em
}

.main-managetour .tour-hover{
    width: 9em;
    height: 13.5em;
    background-color: rgba(14, 77, 144, 0.7);
    border-radius: 0.8em;
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.tour-hover > *{
    width: 3.25em;
    height: 3.25em;
    margin: 0.5em auto;
}

.main-managetour .tour:hover .tour-hover{
    visibility: visible;
}

.main-managetour .create-tour:hover > *{
    color: #7E94AB
}


