.button-upload, .button-save{
    font-family: 'RocknRoll One';
    display: inline-block;
    background: #0E4D90;
    height: 2.5em;
    width: fit-content;
    padding: 0 1em;
    margin: 1em auto 0;
    border-radius: 1em;
    color: white;
    border: none;
}

.button-save{
    background: #0C721F;
    // margin-top: 4em;
}

.button-upload:hover{
    background: white;
    outline: 2px solid #0E4D90;
    outline-offset: -2px;
    color: #0E4D90;
}

.button-save:not(:disabled):active, .button-upload:not(:disabled):active{
    transform: translateY(2px);
}

.button-upload:disabled, .button-save:disabled{
    background: #D8D8D8;
}

