#tour-page {
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    // flex:1;
    width:100vw;
    height:fit-content;
    min-height: 100vh;


    .tour-info{
        margin-top: 3em;
        left: 0;
        height: 47em;
        width: 100vw;
        background-color: #E5F2CA;
        display: flex;
        // display: none;

        > div{
            width: 40%;
            height: 80%;
            margin: 5em 4em 5em auto;
            text-align: left;
            position: relative;

            p{
                width: 100%;
                color: black;
                font-size: 3em;
            }

            > p:first-of-type{
                margin-bottom: 0.8em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            i.fa-solid{
                color: #0C721F;
                font-size: 2.5em;
            }

            .destination, .company, .review{
                color: #9C9C9C;
                font-size: 1.8em;
                position: relative;
                top: -1.5em;
                left: 1.8em;
            }

            .review{
                left: 9em;
                top: -1.7em;
            }

            .rating-line{
                font-size: 2em;
                position:relative;
                color: #F99417;
                top: -0.25em;

                i.fas, i.far{
                    width: fit-content;
                }
            }

            .container-smaller{
                width: 100%;
                display: flex;
                font-size: 0.4em;

                .smaller-info{
                    position: relative;
                    width: fit-content;

                    i{
                        font-size: 7em;
                    }

                    .title{
                        color: #9C9C9C;
                        // margin-left: 1.5em;
                    }

                    .info{
                        font-size: 5em;
                    }
                }

            }

            button{
                background-color: #0C721F;
                width: 9em;
                border-radius: 0.5em;
                border: none;
                color: white;
                font-size: 2em;
                padding: 0.5em;
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .fa-solid{
                    color: white;
                    font-size: 1.5em;
                    margin-right: 0.8em;
                }
            }

            button:active{
                transform: translateY(2px);
            }
            
            .fa-regular.fa-heart,
            .fa-regular.fa-flag{
                position: absolute;
                top: 10.3em;
                left: 6.8em;
                font-size: 3.3em;
                color: #0C721F;
                cursor: pointer;
            }

            .fa-regular.fa-flag{
                left: 9em;
            }

            .fa-regular.fa-heart:hover,
            .fa-regular.fa-flag:hover{
                color: #DF4D4D;
            }

        }

        > img{
            width: 40%;
            height: 80%;
            object-fit: cover;
            border-radius: 2em;
            margin: 5em auto 5em 0
        }
    }

    .tour-description{
        height: fit-content;
        width: 100vw;
        background-color: #F8F6F4 ;
        color: #9C9C9C;
        margin-bottom: 5em;

        div{
            width: 84%;
            margin: 0 auto;
            height: fit-content;
        }

        .title{
            color: #0C721F;
            font-size: 1.5em;
            margin: 3em 0 -0.2em;
        }

        button{
            background-color: #0C721F;
            width: 9em;
            border-radius: 0.5em;
            border: none;
            color: white;
            padding: 0.5em;
            margin-top: 1em;
            font-size: 1em;
        }

        button:not(:disabled):active{
            transform: translateY(2px);
        }

        button:disabled{
            background-color: #9C9C9C;
            cursor: auto;
        }

        i{
            margin-right: 1em;
        }

    }
}