#tour-page {
    background-color: #F8F6F4;
    display: flex;
    flex-direction: column;
    // flex:1;
    width:100vw;
    height:fit-content;
    min-height: 100vh;


    .tour-info{
        margin-top: 3em;
        left: 0;
        height: 47em;
        width: 100vw;
        background-color: #E5F2CA;
        display: flex;
        // display: none;

        > div{
            width: 40%;
            height: 80%;
            margin: 5em 4em 5em auto;
            text-align: left;
            position: relative;

            p{
                width: 100%;
                color: black;
                font-size: 3em;
            }

            > p:first-of-type{
                margin-bottom: 0.8em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            i.fa-solid{
                color: #0C721F;
                font-size: 2.5em;
            }

            .destination, .company, .review{
                color: #9C9C9C;
                font-size: 1.8em;
                position: relative;
                top: -1.5em;
                left: 1.8em;
            }

            .review{
                left: 9em;
                top: -1.7em;
            }

            .rating-line{
                font-size: 2em;
                position:relative;
                color: #F99417;
                top: -0.25em;

                i.fas, i.far{
                    width: fit-content;
                }
            }

            .container-smaller{
                width: 100%;
                display: flex;
                font-size: 0.4em;

                .smaller-info{
                    position: relative;
                    width: fit-content;

                    i{
                        font-size: 7em;
                    }

                    .title{
                        color: #9C9C9C;
                        // margin-left: 1.5em;
                    }

                    .info{
                        font-size: 5em;
                    }
                }

            }

            > button{
                background-color: #0C721F;
                width: 9em;
                border-radius: 0.5em;
                border: none;
                color: white;
                font-size: 2em;
                padding: 0.5em;
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .fa-solid{
                    color: white;
                    font-size: 1.5em;
                    margin-right: 0.8em;
                }
            }

            button:active{
                transform: translateY(2px);
            }
            
            .fa-regular.fa-heart,
            .fa-regular.fa-flag{
                position: absolute;
                top: 10.3em;
                left: 6.8em;
                font-size: 3.3em;
                color: #0C721F;
                cursor: pointer;
            }

            .fa-regular.fa-flag{
                left: 9em;
            }

            .fa-regular.fa-heart:hover,
            .fa-regular.fa-flag:hover{
                color: #DF4D4D;
            }

        }

        > img{
            width: 40%;
            height: 80%;
            object-fit: cover;
            border-radius: 2em;
            margin: 5em auto 5em 0
        }

        .report-section{
            position: fixed;
            top: -1em;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;

            .report {
                position: absolute;
                width: 60%;
                height: 60%;
                left: 20%;
                top: 10% ;
                background-color: #F8F6F4;
                color:#0E4D90;
                border-radius: 0.8em;
                text-align: center;
                font-size: 1.5em;
            }

            .report p{
                font-size: 2em;
                margin: 0.5em auto 0.3em;
                color: #0C721F
                }
            
            .report p:nth-of-type(2),
            .report p:nth-of-type(3){
                font-size: 1em;
                color: #0C721F;
                margin-top: -0.2em;
                text-align: start;
                margin-left: 5em;
                opacity: 0.5;
            }

            .report textarea{
                min-width: 80%;
                background: white;
                border: 0.1em solid #DEDEDE;
                border-radius: 0.8em;  
                color: black;
                font-family: 'RocknRoll One';
                padding: 0.5em;
                -webkit-box-sizing: border-box; 
                -moz-box-sizing: border-box;    
                box-sizing: border-box; 
                margin: 1em auto 0;
                height: 40%;
                resize: none;
                display: block;
            }

            .reply textarea:focus-within,
            .report textarea:focus-within{
              outline-color: #0C721F
            }
          
            .button-save{
              background-color: black;
            }

            .button-upload{
                background-color: #0C721F;
            }

            .button-save:hover,
            .button-upload:hover{
                color: white;
                outline: none
            }

        }

    }

    .tour-description{
        height: fit-content;
        width: 100vw;
        background-color: #F8F6F4 ;
        color: #9C9C9C;
        margin-bottom: 5em;

        div{
            width: 84%;
            margin: 0 auto;
            height: fit-content;
        }

        .title{
            color: #0C721F;
            font-size: 1.5em;
            margin: 3em 0 -0.2em;
        }

        button{
            background-color: #0C721F;
            width: 9em;
            border-radius: 0.5em;
            border: none;
            color: white;
            padding: 0.5em;
            margin-top: 1em;
            font-size: 1em;
        }

        button:not(:disabled):active{
            transform: translateY(2px);
        }

        button:disabled{
            background-color: #9C9C9C;
            cursor: auto;
        }

        i{
            margin-right: 1em;
        }

        .tour-review{
            display: flex;
            height: fit-content;
            justify-content: space-evenly;

            .review-card{
                width: 50em;
                height: 12em;
                min-height: 10em;
                margin: 0.5em 0.5em ;
                background-color: white;
                border-radius: 0.8em;
                border: 2px solid #d8d8d8;
                color: #0E4D90;
                font-size: 0.7em;
                position: relative;

                    img{
                        width: 4.8em;
                        height: 4.8em;
                        object-fit: cover;
                        border-radius: 10em;
                        margin: 0.7em 1em 0.2em;
                    }

                    > div{
                        width: 25em;
                        position: absolute;
                        left: 7em;
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                      }
                    
                      .review-card-name{
                        // width: fit-content;
                        // margin-right: 0.6em;
                        font-size: 1.3em;
                      }
                    
                      .rating-line {
                        color: #FFF500;
                        margin: -0.1em auto 0em 1em;
                        width: fit-content;
                        // left: 17em;
                        // position: absolute;

                        i{
                            margin-right: 0em;
                        }
                      }

                      .review-card-date{
                        position: absolute;
                        left: 5.8em;
                        top: 2em;
                        color: #7E94AB;
                        font-size: 1.2em;
                      }
                    
                      .review-card-line{
                        position: relative;
                        left: 1em;
                        top: -1em;
                        color: #7E94AB;
                        font-size: 1em;
                        font-family: "Assistant";
                        text-align: left;
                        font-size: 1.3em;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        // white-space: nowrap;
                        width: 30em;
                        height: 5em;
                      }
              }
        
        }
    }

}