#signup-container {
    max-width: 700px;
    min-width: 500px;
    background-color: white;
    border-radius: 25px;
    height: 400px;
    width: 60%;
    margin: 100px auto;
    display: flex;
}

#signup-left {
    width: 60%;
    height: 300px;
    margin: 20px 20px 30px 40px;
}
.signup-title {
    color: #0C721F;
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
}
.signup-subtitle {
    color: #8C8C8C;
    font-size: 0.8rem;
    text-align: left;
    margin: auto;
}
.signup-input {
    list-style: none;
    margin: 15px 0px;
    padding: 0px;
}
::placeholder {
    color: #8C8C8C;
}
.signup-input input[type=text],  .signup-input input[type=password] {
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    height: 20px;
    padding: 10px 10px;
    margin: 8px 0px;
    width: 100%;
    font-size: 1rem;
}
.signup-button {
    text-align: center;
}
input[type=submit]{
    background-color: #0C721F;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.2s;
    margin: 10px auto;
}
input[type=submit]:hover {
    background-color: black;
}
#signup-right {
    width: 40%;
    height: 300px;
    margin: 20px 40px 30px 20px;
}
.role-title {
    margin: 3rem 0 1rem 0;
    padding: none;
    color: #0C721F;
    font-size: 1.2rem;
    text-align: center;
    height: auto;
}
.role-option {
    list-style: none;
    padding: 0;
    height: 16rem;
    display: grid;
}
input[type=button] {
    width: 100%;
    background-color: #EFEFEF;
    color: #8C8C8C;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    height: 4rem;
}
input[type=button]:focus {
    background-color: #0C721F;
    color: white;
}