/* Nội dung trang */
body {
    background-color: #ffffff; /* Màu trắng */
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

/* ICON HIKING */
.icon-hiking {
    position: absolute;
    width: 493px;
    height: 448px;
    left: 55px;
    top: 396px;
}

.icon-hiking img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SEverywhere */
.severywhere {
    position: absolute;
    width: 343px;
    height: 80px;
    left: 541px;
    top: 370px;
    font-family: 'Segoe Script';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #0C721F;
}

/* SEverywhere text1 */
.severywhere-text1 {
    position: absolute;
    width: 816px;
    height: 360px;
    left: 543px;
    top: 489px;
    font-family: 'RocknRoll One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: justify;
    color: #000000;
}

/* SEverywhere text2 */
.severywhere-text2 {
    position: absolute;
    width: 747px;
    height: 360px;
    left: 88px;
    top: 903px;
    font-family: 'RocknRoll One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: justify;
    color: #000000;
}

/* Sailing pic */
.sailing-pic {
    position: absolute;
    width: 561px;
    height: 508px;
    left: 836px;
    top: 855px;
}

.sailing-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.faq-section {
    position: absolute;
    width: 1440px;
    height: 2501px;
    left: 0px;
    top: 1605px;
}

.head-banner {
    position: absolute;
    width: 1440px;
    height: 367px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: url(about_us_header.jpg), #D9D9D9;
}



.faq-content {
    position: absolute;
    width: 1118px;
    height: 2070px;
    left: 157px;
    top: 431px;
    font-family: 'RocknRoll One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #000000;
}

.faq-content h3 {
    font-size: 30px;
    color: #0C721F;
    margin-bottom: 10px;
}

.faq-content p {
    text-align: justify;
    margin-bottom: 30px;
}

