.check-box-calendar{
    font-size: 0.8em;
    color: #0E4D90;
    display: flex;
    align-items: center;
}

.check-box-calendar input, #free-cancallation{
    width: 2em;
    height: 2em;
    border-radius: 0.8em;
    margin-right: 1em;
    background-color: white;
    outline: 1.5px solid #d8d8d8;
    outline-offset: -1.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.check-box-calendar input:disabled{
    background-color: #d8d8d8;
}