.attraction-card {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 80%;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0.8rem;
    padding: 1.5rem;
}
.attraction-card > p.attraction-title{
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.attraction-info-container {
    display: flex;
    flex-direction: row;
}
.attraction-image-container {
    width: 40%;
    height: 100%;
    margin: 0;
    margin-right: 1rem;
}
.attraction-image-container > img {
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    /* overflow: hidden; */
    object-fit: cover;
}
.attraction-description-container {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.attraction-description-container > p {
    color: gray;
    font-size: 1rem;
    text-align: justify;
    padding: 0;
    margin: 0;
}