#guide-header {
    height: 4rem;
    width: 100%;
}

.guide-background {
    background-color: white;
    background-image: url('netherland_castle.jpg');
    background-size: cover;   
    height: 60%;
    width: 100%;
}