.intro-card {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    width: 18rem;
    margin-left: auto;
    margin-right: 0.8rem;
    margin-top: 0.8rem;
    padding: 1.5rem;
}
.intro-card > p.intro-title{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}
.intro-card > p.intro-content{
    margin: 0rem;
    padding: 0.5rem 0;
    color: #8C8C8C;
    font-size: 0.8rem;
    text-align: center;
}
.intro-card > .horizontal-line {
    height: 1px;
    width: 100%;
    background-color: #8C8C8C;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.intro-card > .info-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.info-container .type-title {
    color: #8C8C8C;
    font-size: 0.8rem;
}
.info-container .type-content {
    color: black;
    font-size: 1rem;
}
.info-container .type-icon {
    color: #0C721F;
    font-size: 2rem;
    margin-top: 0.3rem;
    width: 3.2rem;
}