.companies-admin {
    width: 100%;
    margin-bottom: 100px;
    .admin-path{
        align-items: center;
        color: #0E4D90;
        display: flex;
        margin-bottom: 20px;
        .admin-path-name{
            margin-left: 10px;
            font-weight: 700;
            font-size: 17px;
            text-align: center;
        }
    }
    .company-listing{
        margin-top: 25px;
        .companies-list{
            background-color: #fff;
            border-radius: 10px;
            padding: 0px 5px 0px 5px;
            box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;
            p{
                color: #0E4D90;
                font-weight: 600;
                font-size: 18px;
                padding-left: 15px;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 10px;
            }
            .table{
                thead {
                    display: table-header-group;
                    vertical-align: middle;
                    th{
                        vertical-align: middle;
                        font-weight: 600;
                        padding: 10px 15px;
                        text-align: center;
                        color: #0E4D90;
                    }
                }
                tr {
                    display: table-row;
                    vertical-align: middle;
                }
                td, th{
                    padding: 10px 5px;
                    color: #0E4D90;
                    vertical-align: middle;
                    text-align: center;
                    button{
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        margin-right: 10px;
                        background-color: #0E4D90;
                        color: white;
                        border: 1px solid #0E4D90;
                        &:hover {
                            background-color: #175fa6;
                            border: 1px solid #175fa6;
                            color: white;
                            transition: 0.5s;
                        }
                    }
                }
                .company-table td{
                    color: #7E94AB;
                }
                .company-table tr:last-child td, 
                .company-table tr:last-child th{
                    border-bottom: none;
                }
                .address-cell{
                    max-width: 160px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}