#checkout-guide-page {
    background-color: #F8F6F4;
    height: 100%;
    width: 100%;
}
.guide-cart-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: #E5F2CA;
}
.left-cart-container {
    width: 15rem;
    height: inherit;
    padding: 0;
    margin: 0;
    background-color: #0C721F;
    border-radius: 1rem 0 0 0;
}
.right-cart-container {
    width: 30rem;
    height: inherit;
    padding: 0;
    margin: 0;

    .guide-rating {
        font-size: 1.2rem;
        color: #F99417;
        margin: 0.3rem auto -1.2rem 1.1rem;
    }
}
.guide-ava {
    border-radius: 50%;
    background-color: thistle;
    height: 60%;
    width: 60%;
    border: 0.5rem solid white;
    margin: auto;
    margin-top: 15%;
    /* margin-bottom: 1%; */
}
.guide-ava > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.guide-name {
    font-size: 1.4rem;
    color: black;
    margin: 1.5rem auto 0 1.7rem;
}

.guide-info-cost-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 1rem;
    padding: 0;
}
.guide-info-container {
    width: 60%;
    height: fit-content;
    margin-top: 2rem;

    .guide-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 0.8rem;
    }
    .guide-info > i {
        font-size: 1.3rem;
        color: #0C721F;
        margin-right: 1rem;
        width: 2rem;
        text-align: center;
    }
    .guide-info > p {
        font-size: 1rem;
        color: gray;
        margin: 0;
    }
}


.guide-cost-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: 6.8rem;
    // margin-bottom: 1rem;
}

.guide-cost-container .cost-title {
    color: gray;
    font-size: 0.8rem;
}
.guide-cost-container .cost{
    color: black;
    font-size: 1rem;
}
.guide-cost-container .cost-icon {
    color: #0C721F;
    font-size: 2rem;
    margin-top: 0.3rem;
    width: 3.2rem;
    text-align: center;
    text-decoration: bold;
}

.checkout-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50rem;
    padding: 0;
    justify-content: space-evenly;
    position: relative;
    top: 5rem;
}
.checkout-left-container {
    width: 63%;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    // box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}
.checkout-right-container {
    width: 20%;
    height: inherit;
    padding: 1rem 1.5rem;
    margin: 0;

    .button-save{
        margin: 2em auto;
        margin-left: 26%;
        font-size: 1.2rem;
    }
}
.checkout-right-container h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #0C721F;
    text-decoration: none;
}
.checkout-right-container > p {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #0C721F;
}
.checkout-right-container .price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: gray;
    >p {
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
    }
}
.checkout-right-container .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: #0C721F;
    >p {
        margin: 0;
        padding: 0;
    }
}
.checkout-right-container .horizontal-line {
    height: 1.1px;
    width: 100%;
    background-color: gray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.fillin-form {
    background-color: lightgray;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 1rem 1rem;
}
.fillin-components {
    height: fit-content;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
}
.info-part, .info-not-part {
    width: 50%;
    height: fit-content;
    color: black;
    font-size: 0.8rem;
    // background-color: yellow;
    margin: 1rem 1rem 0;
    display: flex;
    flex-direction: column;

    .checkbox-gender{
        margin-top: 0.5em;
        accent-color: black;
        font-size: 0.9rem;
        
        label{
            margin-right: 3em;
            color: gray
        }

        input{
            margin-right: 1em;
        }
    }

}
.info-part > input,
.info-not-part > input,
.info-part > select {
    margin-top: 0.2rem;
    width: 97%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #979797;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    cursor: default;
    color: gray;
}

.info-not-part{
    width: 100%;
    color: #0C721F;
    flex-direction: row;
    flex-wrap: wrap;

    span{
        display: inline-block;
        color: red;
        margin-left: 0.3rem;
    }
}

.info-part.special{
    color: #0C721F
}

.info-not-part input,
.info-part select{
    width: 100%;
    color: #0C721F;
    border-color: #0C721F;
}

.info-part select:focus-within{
    border: 1px solid #0C721F;
    outline: none;
}

.show-total {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: 1rem;
    color: black;
    font-size: 1.2rem;;
    > a {
        margin-left: 0.5rem;
        color: #0C721F;
        font-size: 1.5rem;
    }
}