// page
.booking-freelancer {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
  }
    
    // main
  .main-booking{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 12em);
    height: fit-content;
    position: relative;
    left: 12em;
    top: 3em;
    align-items: flex-start;
  }
  
  .main-booking .tourist-booking{
    width: calc(100vw - 20em);
    height: fit-content;  
    background-color: white;
    border-radius: 0.8em;
    margin: 2em auto;
  }
  
  .main-booking .tourist-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
  }
  
  .main-booking .tourist-info .input-field{
    width: fit-content;
    text-align: start;
    margin-left: 2em;
  
  }
  
  .main-booking .tourist-info .input-field input,
  .main-booking .tourist-info .input-field input:focus-visible{
    background-color: #D8D8D8;
    color: #7E94AB;
    min-width: 19em;
    border: 1.5px solid #0E4D90;
  }
  
  .main-booking input[type=date]::-webkit-calendar-picker-indicator {
    display: none
  }
  
  .main-booking .check-box{
    width: 50em;
    text-align: start;
    margin-left: 2em;
  }
  
  .main-booking .check-box input{
    width: 10em;
  }
  
  .main-booking .button-upload{
    margin-left: 2em;
  }