// page
.calendar-freelancer {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.main-calendar{
    width: calc(100vw - 12em);
    margin-left: auto;
    height: calc(100vh - 3em);
    position: relative;
    left: 12em;
    top: 3em;
}

.main-calendar > p{
color:#7E94AB;
opacity: 0.7;
text-align: center;
font-size: 1.1em;
}

.main-calendar .welcome{
opacity: 1;
margin-top: 7em;
margin-bottom: -0.5em;
font-size: 1.8em;
}

.main-calendar .select-date, .main-calendar .select-session{
margin: 2.5em auto;
}

.main-calendar .select-session{
    min-height: 4em;
}

.main-calendar .select-date p, .main-calendar .select-session p {
text-align: start;
color: #0E4D90;
font-size: 0.8em;
margin-left: 6em;
}

.main-calendar .list-date{
width: calc(100vw - 25.5em);
margin: 0 auto;
display: inline-flex;
justify-content: space-evenly;
margin-top: 0.5em;
}

.list-date .date{
width: 7em;
height: 8em;
background-color: white;
border-radius: 0.8em;
border:none;
color: #0E4D90;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.list-date .date p{
margin: 0 auto;
font-size: 1em;
}

.list-date .date p:nth-child(2){
font-size: 2.5em;
}

.list-date .date:hover{
outline: 2px solid #0E4D90;
outline-offset: -2px;
}

.list-date .date:active, .list-date .focus{
outline: none;
background-color: #0E4D90;
}

.list-date .date:active p, .list-date .focus p{
color:white
}

.main-calendar .list-session{
margin: 0 4.6em;
display: flex;
justify-content: space-between;
}

.main-calendar .input-field{
    width: fit-content;
}

.check-box-calendar{
    font-size: 0.8em;
    color: #0E4D90;
    display: flex;
    align-items: center;
}

.check-box-calendar input, #free-cancallation{
    width: 2em;
    height: 2em;
    border-radius: 0.8em;
    margin-right: 1em;
    background-color: white;
    outline: 1.5px solid #d8d8d8;
    outline-offset: -1.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    cursor: pointer;
}

.check-box-calendar input:disabled{
    background-color: #d8d8d8;
}

.check-box-calendar input:checked, #free-cancallation:checked{
    background-color: #0E4D90;
    outline: none;
}

.main-calendar .input-field {
margin-left: 6em;
margin-top: -0.5em;
}
.main-calendar [type=number]{
min-width: 19em;
margin-left: 4em;
}

.main-calendar > input{
position: absolute;
left: 6em;
top: 31.5em;
display: inline-block;
}

.main-calendar > label{
color: #0E4D90;
font-size: 0.8em;
position: absolute;
left: 9em;
top: 29.5em;
}