.statistics-freelancer{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

.main-statistic{
    height: fit-content;
    width: calc(100vw - 12em);
    margin-left: 11.5em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .main-statistic .statistic{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
  }
  
  .main-statistic .statistic > div{
    margin-top: 2em ;
    width: 16em;
    height: 4.3em;
    background-color: #0E4D90;
    border-radius: 1em;
    color: white;
    text-align: start;
    position: relative;
  }
  
  .main-statistic .statistic .fas{
    width: 1.3em;
    font-size: 2.25em;
    position: absolute;
    top: 0.48em;
    left: 0.35em;
    text-align: center;
  }
  
  .main-statistic .statistic .title{
    width: fit-content;
    margin: 0.5em 0.5em 0 4.8em;
    font-size: 0.9em;
  }
  
  .main-statistic .statistic .data{
    width: fit-content;
    margin: 0 0.2em 0 2.6em;
    font-size: 1.6em;
    display: inline;
  }
  
  .main-statistic .statistic .des{
    display: inline;
    font-size: 0.8em;
  }

  .tourist-section{
    height: fit-content;
    width: calc(100vw - 12em);
  }

  .review-section{
    margin-bottom: 0.5em;
  }
  
  .tourist-section > p, .review-section > p{
    width: fit-content;
    margin: 0 auto;
    color:#0E4D90;
    font-size: 2em;
  }

  .tourist-section .select, .review-section .select{
    width: 45em;
    margin: 2em auto 0.8em;
    display: flex;
    justify-content: space-around;
  } 

  .tourist-list{
    width: 75%;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  .review img{
    width: 4.8em;
    height: 4.8em;
    object-fit: cover;
    border-radius: 10em;
    margin: 0.7em auto 0.2em;
  }

  .review-section .select{
    width: 52em;
  }

  .review-section .check-box-calendar .fas,  .review-section .check-box-calendar .far{
    color:  #FFF500
  }

  .review-section .review-list{
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .review-section .review-list .review{
    width: 32em;
    height: 8.8em;
    margin: 0.5em auto ;
    background-color: white;
    border-radius: 0.8em;
    border: 2px solid #d8d8d8;
    color: #0E4D90;
    font-size: 0.7em;
    position: relative;
  }

  .review img{
    width: 3.2em;
    height: 3.2em;
    display: inline-block;
    position: absolute;
    top: 0.2em;
    left: 1em;
  }

  .review > div{
    width: 25em;
    position: absolute;
    left: 5.5em;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  .review .review-name{
    width: fit-content;
    margin-right: 0.6em;
  }

  .review .rating-line {
    color: #FFF500;
    margin-top: -0.1em;
  }

  .review .fa-flag{
    position: absolute;
    left: 88%;
    font-size: 1.2em;
    cursor: pointer;
  }

  .review .fa-comment-dots{
    position: absolute;
    left: 95%;
    font-size: 1.2em;
    cursor: pointer;
  }

  .review .fa-flag:hover{
    color: #F71F39;
  } 
  
  .review .fa-comment-dots:hover {
    color: #0C721F
  }

  .review .fa-flag:active, .review .fa-comment-dots:active{
    transform: translateY(2px);
  }

  .review .review-date{
    position: absolute;
    left: 6.7em;
    top: 2.1em;
    color: #7E94AB;
    font-size: 0.8em;
  }

  .review .review-line{
    position: absolute;
    left: 1em;
    top: 3.5em;
    color: #7E94AB;
    font-size: 1em;
    font-family: "Assistant";
    text-align: left;
  }

  .reply-section, .report-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .reply, .report {
    position: absolute;
    width: 50%;
    height: 55%;
    left: 30%;
    top: 30% ;
    background-color: #F8F6F4;
    color:#0E4D90;
    border-radius: 0.8em;
  }

  .reply p, .report p{
    font-size: 2em;
    margin: 0.5em auto 0.3em;
  }

  .report p:nth-of-type(2),
  .report p:nth-of-type(3){
    font-size: 0.8em;
    color: #7E94AB;
    margin-top: -0.2em;
    text-align: start;
    margin-left: 3em;
  }

  .reply textarea, .report textarea{
    min-width: 80%;
    background: white;
    border: 0.1em solid #DEDEDE;
    border-radius: 0.8em;  
    color: #7E94AB;
    font-family: 'RocknRoll One';
    padding: 0.5em;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
    margin: 1em auto 0;
    height: 50%;
    resize: none;
    display: block;
    // position: absolute;
  }

  .report textarea{
    height: 30%;
  }

  .reply textarea:focus-within,
  .report textarea:focus-within{
    outline-color: #0E4D90
  }

  .reply .button-upload,  .report .button-upload{
    margin: 1.5em 0.5em 2em
  }